﻿<br />
<br />
<hr/>
<span>
    @Resource.ItemPerPage
</span>
    @Html.DropDownList("per_page", new SelectList(new[] { new { value = 10, text = "10" },new { value = 20, text = "20" },new { value = 50, text = "50" },new { value = 100, text = "100" }}, "value", "text")
                                 , htmlAttributes: new { @style = "width:auto;" })
    
<hr/>