﻿<nav class="navbar" data-navigation="true">
    <ul class="list-inline">
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink(Resource.ClientTitle, "", "Clients")</li>
            <li>@Html.ActionLink(Resource.ProductTitle, "", "Products")</li>
            <li>@Html.ActionLink(Resource.OrderTitle, "", "Orders")</li>
            <li class="pull-right">@Html.ActionLink("Log out", "Logout", "Account")</li>
        }
    </ul>
        
</nav>
