﻿@model MVC5.Models.Client

@{
    ViewBag.Title = Resource.DeleteClient;
}
<div class="center-block text-center">
    <h2>@Resource.DeleteClient</h2>

    <h3>@Resource.DeleteClientMessage</h3>
    <div>
        <h4>@Model.name</h4>
        <hr />       
        <Strong>
            @Html.DisplayNameFor(model => model.CPF)
        </Strong>
        @Html.DisplayFor(model => model.CPF)<br/>

        <strong>
            @Html.DisplayNameFor(model => model.email)
        </strong>
        @Html.DisplayFor(model => model.email)<br />
        
        <hr/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@Resource.DeleteAction" class="btn btn-default" /><br/>
                @Html.ActionLink(Resource.BackToList, "Index")
            </div>
        }
    </div>
</div>
