﻿@model MVC5.Models.Client

@{
    ViewBag.Title = Resource.DetailsAction;
}

<div class="center-block text-center">
    <h3>@Model.name</h3>
    <hr />
        
        <strong>
            @Html.DisplayNameFor(model => model.CPF)
        </strong>        
            @Html.DisplayFor(model => model.CPF)
        <br/>

        <strong>
            @Html.DisplayNameFor(model => model.email)
        </strong>
            @Html.DisplayFor(model => model.email)
        <br/>

    
</div>
<div>
    <h3>@Resource.LastOrders</h3>
    <table class="table">
        <tr>            
            <th>
                @Resource.ProductOrder
            </th>
            <th>
                @Resource.Qtd
            </th>
            <th>
                Total
            </th>
            <th>
                @Resource.Status
            </th>
            <th>
                @Resource.DateOrder
            </th>
        </tr>

        @foreach (var item in Model.Orders.Take(10))
        {
            <tr>
                <td>
                    @Html.ActionLink(item.product.name, "Details", "Products", new { id = item.product_id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qtd)
                </td>
                <td>
                    @item.total()
                </td>
                <td>
                    @Html.Partial("../Orders/_order_status",new ViewDataDictionary { { "status", item.status } })
                </td>
                <td>
                    @item.OrderDate.ToString("dd/MM/yyyy")
                </td>               
            </tr>
        }

    </table>

</div>
<p class="center-block text-center">
    @Html.ActionLink(Resource.EditAction, "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "link_btn" }) 
    <br/>
    @Html.ActionLink(Resource.BackToList, "Index")
</p>


