﻿@model MVC5.Models.Client

@{
    ViewBag.Title = Resource.EditClient;
}
<div class="col-lg-8 col-lg-offset-2">

    @Html.Partial("_form")

    <div class="col-lg-8 col-lg-offset-2">
        @Html.ActionLink(Resource.BackToList, "Index")
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</div>
