﻿@model PagedList.IPagedList<MVC5.Models.Client>
@using PagedList.Mvc;
@using MVC5.App_LocalResources;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = Resource.ClientTitle;
}
<div class="center-block text-center">
    <h2>@Resource.ClientTitle</h2>

    <p>
        @Html.ActionLink(Resource.NewClient, "Create", null, htmlAttributes: new { @class = "link_btn" })
    </p>
    
    <p class="search_contents center-block text-center form-inline">
        @using (Html.BeginForm("Index","Clients",method: FormMethod.Get))
        {
            <span>@Resource.ClientName</span>
                @Html.TextBox("name")
                <span>CPF</span>
                @Html.TextBox("CPF")
                <span>@Resource.Email</span>
                @Html.TextBox("email")

            @Html.Partial("_ItemsPerPage")
            <input type="submit" value="@Resource.FilterAction" />
            
            <br />
            
        }
       
        <p>
            @Resource.PageTitle @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { sortOrder = ViewBag.CurrentSort, name = ViewBag.SearchParams.name,
                                                                          CPF = ViewBag.SearchParams.CPF, email = ViewBag.SearchParams.email, page, per_page = ViewBag.per_page }))
        </p>

</div>

<table class="table">
    <tr>
        <th>            
            @Html.ActionLink("CPF", "Index", new { sortOrder = (Request.Params["sortOrder"]=="CPF" ? "CPF_desc" : "CPF"), name = ViewBag.SearchParams.name, CPF = ViewBag.SearchParams.CPF, email = ViewBag.SearchParams.email, page = 1 })
        </th>
        <th>
            @Html.ActionLink(@Resource.ClientName, "Index", new { sortOrder = (Request.Params["sortOrder"] == "name" ? "name_desc" : "name"), name = ViewBag.SearchParams.name, CPF = ViewBag.SearchParams.CPF, email = ViewBag.SearchParams.email, page = 1 })
        </th>
        <th>
            @Html.ActionLink(@Resource.Email, "Index", new { sortOrder = (Request.Params["sortOrder"] == "email" ? "email_desc" : "email"), name = ViewBag.SearchParams.name, CPF = ViewBag.SearchParams.CPF, email = ViewBag.SearchParams.email, page = 1 })
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink(Resource.OrdersAction, "Index","Orders", new { client_id = item.Id }, htmlAttributes: new { @class = "link_btn" })
            </td>
            <td>
                @Html.ActionLink(Resource.EditAction, "Edit", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" }) 
                @Html.ActionLink(Resource.DetailsAction, "Details", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" }) 
                @Html.ActionLink(Resource.DeleteAction, "Delete", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
            </td>
        </tr>
    }

</table>
