﻿@model MVC5.Models.Order
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@Scripts.Render("~/Scripts/IsNumber.js")
<div class="col-lg-8 col-lg-offset-2">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @{
                if (Model.Id > 0)
                {
                    <h4>
                        @Resource.Order #:
                        @Model.Id
                    </h4>
                }
                else
                {
                    <h4>@Resource.NewOrder</h4>
                }
            }

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (Model.Id != 0)
            {
                @Html.HiddenFor(model => model.Id)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.product_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("product_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.product_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.client_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("client_id", null, htmlAttributes: new { @class = "form-control", @DataTextField = "name" })
                    @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.qtd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.qtd, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return isNumberKey(this,false);" } })
                    @Html.ValidationMessageFor(model => model.qtd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.status, new SelectList(new[] { new { value = MVC5.Models.OrderSatus.EM_ABERTO, text = "Em Aberto" }, new { value = MVC5.Models.OrderSatus.CANCELADO, text = "Cancelado" }, new { value = MVC5.Models.OrderSatus.PAGO, text = "Pago" } }, "value", "text"))

                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.discount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return false", @readonly = "true"} })
                </div>
                <div class="col-md-8">
                    <input id="slider_max_range" class="slider" value="@Model.discount" min="0" max="100" type="range" oninput="discount.value = slider_max_range.value"/>
                </div>
                
            </div>

            <div class="form-group text-center center-block">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resource.SaveAction" class="btn btn-default" />
                </div>
            </div>
        </div>
                }
</div>

<script>

    $(function () {

        $(".slider").slider({
            range: "max",
            min: 0,
            max: 100,
            value: 0,
            slide: function (event, ui) {
                $("#discount").val(ui.value);
            }

        });

        $("#discount").val(@Model.discount);

    });

</script>
