﻿@using MVC5.Models;
@{
    OrderSatus status = (OrderSatus)ViewData["status"];
    switch (status)
    {
        case OrderSatus.CANCELADO:
            <p>@Resource.StatusCancelled</p>
            break;
        case OrderSatus.PAGO:
            <p>@Resource.StatusPaid</p>
            break;
        default:
            <p>@Resource.StatusOpened</p>
            break;
    }
}
