﻿@model MVC5.Models.Order

    <h3 class="text-center text-capitalize">
        @Resource.Order
        #:
        @Model.Id
    </h3>
    <h4 class="text-center text-capitalize">@Resource.DeleteOrder</h4>
    <div>
        
        <hr />
        <div class="text-center center-block" >
            <strong>
                @Html.DisplayNameFor(model => model.client.name)
            </strong>
            @Html.DisplayFor(model => model.client.name)<br/>
            
            <strong>
                @Html.DisplayNameFor(model => model.product.name)
            </strong>    
             @Html.DisplayFor(model => model.product.name)
            <br/>
            
    
            <strong>
                @Html.DisplayNameFor(model => model.qtd)
            </strong>
            @Html.DisplayFor(model => model.qtd) 
            <br/>
            <strong>
                @Html.DisplayNameFor(model => model.OrderDate)
            </strong>
                @Html.DisplayFor(model => model.OrderDate) 
            <br/>
    
        </div>
    <hr/>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="@Resource.DeleteAction" class="btn btn-default center-block" /> 
                <br/>
                @Html.ActionLink(Resource.BackToList, "Index")
            </div>
        }
    </div>
</body>
</html>
