﻿@model MVC5.Models.Order


<div class="center-block text-center">
    <h4>@Resource.Order 
        #: 
        @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <strong>
            @Html.DisplayNameFor(model => model.client.name)
        </strong>
            @Html.DisplayFor(model => model.client.name)
        <br />
    
        <strong>
            @Html.DisplayNameFor(model => model.product.name)
        </strong>
            @Html.DisplayFor(model => model.product.name)
        <br/>
    
        <strong>
            @Html.DisplayNameFor(model => model.qtd)
        </strong>        
         @Html.DisplayFor(model => model.qtd)
        <br/>
    
        <strong>
            @Html.DisplayNameFor(model => model.OrderDate)
        </strong>
        @Html.DisplayFor(model => model.OrderDate)
        <br/>
    
    </dl>
</div>
<p class="center-block text-center">
    @Html.ActionLink(Resource.EditAction, "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "link_btn" })
    <br />
    @Html.ActionLink(Resource.BackToList, "Index")
</p>

