﻿@model PagedList.IPagedList<MVC5.Models.Order>
@using PagedList.Mvc;
@using MVC5.App_LocalResources;
@using MVC5.Helpers;
@Scripts.Render("~/Scripts/IsNumber.js")
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = Resource.OrderTitle;

}
<div class="center-block text-center">
    <h2>@Resource.OrderTitle</h2>

    <p>
        @Html.ActionLink(Resource.NewOrder, "Create", null, htmlAttributes: new { @class = "link_btn" })
    </p>
    <p class="search_contents center-block text-center form-inline">
    @using (Html.BeginForm(new MVC5.CustomFiletrs.OrderFilter()))
    {
        <span>@Resource.ClientOrder</span>
            @Html.TextBox("client_name")
            <span>@Resource.ProductOrder</span>
            @Html.TextBox("product_name")
            <span>@Resource.Qtd</span>
            @Html.TextBox("qtd", null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,false);" });
        <span>@Resource.Status</span>
            @Html.DropDownList("status", new SelectList(new[] { new { value = -1, text = Resource.All },
                                                                new { value = (int)MVC5.Models.OrderSatus.EM_ABERTO, text = Resource.StatusOpened },
                                                                new { value = (int)MVC5.Models.OrderSatus.CANCELADO, text = Resource.StatusCancelled },
                                                                new { value = (int)MVC5.Models.OrderSatus.PAGO, text = Resource.StatusPaid } }, "value", "text"));
        <br />
            <span>@Resource.MinPrice</span>
            @Html.TextBox("min_total", null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,true);" });
        <span>@Resource.MaxPrice</span>
            @Html.TextBox("max_total", null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,true);" });

        <span>@Resource.DateFrom</span>
            @Html.TextBox("date_from", null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,false);", @type = "date" });

        <span> @Resource.DateTo </span>
            @Html.TextBox("date_to", null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,false);", @type = "date" });


        @Html.Partial("_ItemsPerPage")
        <input type="submit" value="@Resource.FilterAction" />
        

            <br />
           
    }
    </p>
    <p>
        @Html.PagedListPager(Model, page => Url.Action("Index", new
           {
               sortOrder = ViewBag.CurrentSort,
               client_name = ViewBag.SearchParams.client_name,
               product_name = ViewBag.SearchParams.product_name,
               min_total = ViewBag.SearchParams.min_total,
               max_total = ViewBag.SearchParams.max_total,
               status = ViewBag.SearchParams.status,
               qtd = ViewBag.SearchParams.qtd,
               date_from = ViewBag.SearchParams.date_from,
               date_to = ViewBag.SearchParams.date_to,
               per_page = ViewBag.itemsPerPage,
               page
           }))

        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </p>

</div>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Resource.ClientOrder, "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"],"client") })
        </th>
        <th>
            @Html.ActionLink(Resource.ProductOrder, "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"], "product") })
        </th>
        <th>
            @Html.ActionLink(Resource.Qtd, "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"],"qtd") })            
        </th>
        <th>
            @Html.ActionLink("Total", "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"], "total") })
        </th>
        <th>
            @Html.ActionLink(Resource.Discount, "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"], "discount") })
        </th>
        <th>
            @Html.ActionLink(Resource.Status, "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"], "status") })
        </th>
        <th>
            @Html.ActionLink(Resource.DateOrder, "Index", new { sortOrder = OrderHelper.OrderLink(Request.Params["sortOrder"], "orderDate") })
        </th>       
        <th></th>        
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.client.name, "Details", "Clients", new { id = item.client_id }, null)
        </td>
        <td>
            @Html.ActionLink(item.product.name, "Details", "Products", new { id = item.product_id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtd)
        </td>
        <td>
            @String.Format("{0:C}", item.total())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount) %
        </td>
        <td>
            @Html.Partial("_order_status", new ViewDataDictionary { { "status", item.status } })
        </td>
        <td>
            @item.OrderDate.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.ActionLink(Resource.EditAction, "Edit", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
            @Html.ActionLink(Resource.DetailsAction, "Details", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
            @Html.ActionLink(Resource.DeleteAction, "Delete", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
        </td>
    </tr>
}
    
</table>

