﻿nav{
    background-color: cornflowerblue;
}
nav li{
    padding-top: 0.3em;
}
nav a{
    color: white;
    text-align: center;
    font-size: 1.8em;
    padding-left: 0.8em;
}

.link_btn{
    border-width: 1px;
    border-radius: 10px;
    background-color: #f4f4f4;
    font-weight: bold;
    color: black;
    border-color: black;
    border-style: solid;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
