﻿@model MVC5.Models.User
<div class="text-center center-block">

    @if (ViewBag.Error != null)
    {
        <p class="error">@Html.Raw(ViewBag.Error)</p>
    }

   
    @Html.AntiForgeryToken()

            

    <div class="editor-label">
        @Html.LabelFor(model => model.email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.email)
        @Html.ValidationMessageFor(model => model.email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.password)
        @Html.ValidationMessageFor(model => model.password)
    </div>
    <br />
       <input type="submit" value="OK" id="btnSubmit", class="btn" />
    </p>
   
    
</div>
