﻿@model MVC5.Models.User
@using MVC5.App_LocalResources;

<h2 class="text-center">Login</h2>
@{
    ViewBag.Title = "Login";
}

@using(Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
    @Html.Partial("_form")
}

<hr/>
@Html.ActionLink(Resource.Register, "Create")
