﻿
@model MVC5.Models.Product

@{
    ViewBag.Title = Resource.NewProduct;
}

<h2>@Resource.NewProduct</h2>

@Html.Partial("_form", new MVC5.Models.Product())



<div>
    @Html.ActionLink(Resource.BackToList, "Index", null, htmlAttributes: new { @class = "link_btn"})
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
