﻿@model MVC5.Models.Product

@{
    ViewBag.Title = Resource.DeleteAction;
}

<h3 class="text-center">@Resource.DeleteProduct</h3>
<hr/>
<div class="text-center center-block">
    <div class="dl-horizontal">      
        <strong>
            @Html.DisplayNameFor(model => model.name)
        </strong>
        @Html.DisplayFor(model => model.name) <br/>
        <strong>
            @Html.DisplayNameFor(model => model.price)
        </strong>
            @Html.DisplayFor(model => model.price)

    </div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resource.DeleteAction" class="btn btn-default" /> 
            <br/>
            @Html.ActionLink(Resource.BackToList, "Index")
        </div>
    }
</div>
