﻿@model MVC5.Models.Product

@{
    ViewBag.Title = Model.name;
}

<div class="center-block text-center">
    <h4>@Html.DisplayFor(model => model.name)</h4>
    <hr />
    <div class="dl-horizontal">
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.price)
            </strong>
            @Html.DisplayFor(model => model.price)
        </p>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.barcode)
            </strong>
            @Html.DisplayFor(model => model.barcode)
        </p>
    </div>
    <hr/>
    <p>
        @Html.ActionLink(Resource.EditAction, "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "link_btn"}) 
        <br/>
        @Html.ActionLink(Resource.BackToList, "Index")
    </p>
</div>

