﻿@model MVC5.Models.Product

@{
    ViewBag.Title = Model.name;
}


@{ Html.RenderPartial("_form"); }
<div>
    @Html.ActionLink(Resource.BackToList, "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
