﻿@model PagedList.IPagedList<MVC5.Models.Product>
@using PagedList.Mvc;
@using MVC5.App_LocalResources;

@Scripts.Render("~/Scripts/IsNumber.js")

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = Resource.ProductTitle;
}
<div class="center-block text-center">
    <h2>@Resource.ProductTitle</h2>
    <p>
        @Html.ActionLink(Resource.NewProduct, "Create", null, htmlAttributes: new { @class = "link_btn" })
    </p>

    <p class="search_contents center-block text-center form-inline">
    @using (Html.BeginForm(new MVC5.CustomFiletrs.ProductFilter()))
    {
        <span>@Resource.Product</span>
            @Html.TextBox("name")
            <span>@Resource.MinPrice</span>
            @Html.TextBox("min_price", null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,true);" })
            <span>@Resource.MaxPrice</span>
            @Html.TextBox("max_price", null, null, htmlAttributes: new { @onkeypress = "return isNumberKey(this,true);" });
        <span>@Resource.Barcode</span>
            @Html.TextBox("barcode")

        @Html.Partial("_ItemsPerPage")
        <input type="submit" value="@Resource.FilterAction" />

        <br />
        
    }
    </p>
       
    
    
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new
            {
                sortOrder = ViewBag.CurrentSort,
                name = ViewBag.SearchParams.name,
                min_price = ViewBag.SearchParams.min_price,
                max_price = ViewBag.SearchParams.max_price,
                barcode = ViewBag.SearchParams.barcode,
                per_page = ViewBag.per_page,
                page
            }))
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>



    
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink(Resource.Product, "Index", new { sortOrder = (Request.Params["sortOrder"] == "name" ? "name_desc" : "name") })
            </th>
            <th>
                @Html.ActionLink(Resource.Price, "Index", new { sortOrder = (Request.Params["sortOrder"] == "price" ? "price_desc" : "price") })
            </th>
            <th>
                @Html.ActionLink(Resource.Barcode, "Index", new { sortOrder = (Request.Params["sortOrder"] == "barcode" ? "barcode_desc" : "barcode") })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.barcode)
                </td>
                <td>
                    @Html.ActionLink(Resource.EditAction, "Edit", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
                    @Html.ActionLink(Resource.DetailsAction, "Details", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
                    @Html.ActionLink(Resource.DeleteAction, "Delete", new { id = item.Id }, htmlAttributes: new { @class = "link_btn" })
                </td>
            </tr>
        }

    </table>
